.RadTabStrip_Fluke
{
	font-family:"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Arial";
	color:#000000;
	font-size:12px;
	font-weight:bold;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: solid 4px #FFC20E;
	text-align:center; 
	text-decoration: none;
}

.RadTabStrip_fluke .rtsLI,
.RadTabStrip_fluke .rtsLink
{
	font: 12px/26px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Arial";
	font-weight:bold;
}

.RadTabStrip_fluke .rtsLevel1 .rtsLI,
.RadTabStrip_fluke .rtsLevel1 .rtsLink
{
	color: Black;
	margin: 0px;
	margin-right: 2px;
	padding: 0px;
}

.RadTabStrip_fluke .rtsLevel .rtsLink:hover,
.RadTabStrip_fluke .rtsLevel .rtsSelected,
.RadTabStrip_fluke .rtsLevel .rtsSelected:hover
{
	text-decoration: none;
}

.RadTabStrip_fluke .rtsLevel1 .rtsLink:hover,
.RadTabStrip_fluke .rtsLevel1 .rtsSelected,
.RadTabStrip_fluke .rtsLevel1 .rtsSelected:hover
{
	text-decoration: none;
}

.RadTabStripLeft_fluke .rtsSeparator,
.RadTabStripRight_fluke .rtsSeparator
{
	background: #000000;
}

/* <disabled tabs> */
.RadTabStrip_fluke .rtsLevel .rtsDisabled
{
	/* color: Red; */
}
/* </disabled tabs> */

/* <scrolling arrows> */
.RadTabStrip_fluke .rtsNextArrow,
.RadTabStrip_fluke .rtsPrevArrow,
.RadTabStrip_fluke .rtsPrevArrowDisabled,
.RadTabStrip_fluke .rtsNextArrowDisabled
{
	/* background-image: url('TabStrip/TabStripStates.png'); */
}
/* </scrolling arrows> */

/* <tab backgrounds> */

.RadTabStrip_fluke .rtsLevel { background: Yellow; }

.RadTabStrip_fluke .rtsLevel1 { background-color: White; padding:0px; }
.RadTabStripTop_fluke .rtsLevel2 { background: #ccdbee url('TabStrip/Level2Bg.html') repeat-x 0 0; padding:0px; }

.RadTabStripTop_fluke .rtsLevel .rtsLink,
.RadTabStripTop_fluke .rtsLevel .rtsOut { background-image: none; }

.RadTabStripTop_fluke .rtsLevel1 .rtsLink,
.RadTabStripTop_fluke .rtsLevel1 .rtsOut,
.RadTabStripBottom_fluke .rtsLevel1 .rtsLink,
.RadTabStripBottom_fluke .rtsLevel1 .rtsOut,
.RadTabStripTop_fluke .rtsLevel1,
.RadTabStripBottom_fluke .rtsLevel1 { }

.RadTabStripLeft_fluke .rtsLink,
.RadTabStripRight_fluke .rtsLink { }

.RadTabStripLeft_fluke .rtsLast .rtsLink,
.RadTabStripRight_fluke .rtsLast .rtsLink
{
	border-bottom: 1px solid #898C95;
	padding:0px;
}

.RadTabStripRight_fluke .rtsLink,
.RadTabStripRight_fluke .rtsLI .rtsDisabled:hover { background-position: 100% 0; }
.RadTabStripRight_fluke .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_fluke .rtsSelected,
.RadTabStripRight_fluke .rtsSelected:hover { background-position: 100% -400px; }
/* </tab backgrounds> */


/* <background positioning: tabs with hovers> */

/* <orientation: top> */

.RadTabStripTop_fluke .rtsLevel1 .rtsLink { background-position: 0 0; background: transparent url('img/static_tab_left_side_corner_10px_x_28px.gif') 0px 0px no-repeat; }
.RadTabStripTop_fluke .rtsLevel1 .rtsOut { background-position: 100% 0; }

.RadTabStripTop_fluke .rtsLevel1 .rtsLink:hover { background-position: 0 -52px; }
.RadTabStripTop_fluke .rtsLevel1 .rtsLink:hover .rtsOut { background-position: 100% -52px; background: transparent url('img/static_tab_left_side_corner_10px_x_28px.gif') 0px 0px no-repeat; }

.RadTabStripTop_fluke .rtsLevel1 .rtsSelected,
.RadTabStripTop_fluke .rtsLevel1 .rtsSelected:hover { background-position: 0 -26px; background: transparent url('img/active_tab_left_side_corner_10px_x_28px.gif') 0px 0px no-repeat;}
.RadTabStripTop_fluke .rtsLevel1 .rtsSelected .rtsOut,
.RadTabStripTop_fluke .rtsLevel1 .rtsSelected:hover .rtsOut { background-position: 100% -26px; background: transparent url('img/active_tab_left_side_corner_10px_x_28px.gif') 0px 0px no-repeat;}

.RadTabStripTop_fluke .rtsLevel1 .rtsDisabled:hover { background-position: 0 0; }
.RadTabStripTop_fluke .rtsLevel1 .rtsDisabled:hover .rtsOut { background-position: 100% 0; }

.RadTabStripTop_fluke .rtsLevel1 { background-position: 0 100%; background-repeat: repeat-x; }



/* </background positioning: tabs with hovers> */

.RadTabStrip_Fluke .rtsLevel .rtsOut
{
	padding: 0 0px; background:transparent url('img/static_tab_right_side_corner_10px_x_28px.gif') right 0px no-repeat; margin: 0px;
}

.RadTabStrip_Fluke .rtsLevel1 .rtsSelected .rtsTxt, .RadTabStripVertical_Fluke .rtsLevel1 .rtsSelected .rtsTxt
{
	background:transparent url('img/active_tab_top_border_1px_x_28px.gif') 0px 0px repeat-x; 
	/* padding: 0 0px; */
	/* margin: 0px; padding: 0px; */
}

.RadTabStrip_Fluke .rtsLevel .rtsSelected .rtsOut, .RadTabStrip_Fluke .rtsLevel .rtsSelected:hover .rtsOut
{
	background:transparent url('img/active_tab_right_side_corner_10px_x_28px.gif') right 0px no-repeat; 
	/* margin: 0px; padding: 0px; */
}



.RadTabStrip_Fluke .rtsLevel1 .rtsTxt
{
	padding: 0 0px; 
	background:transparent url('img/static_tab_top_border_1px_x_28px.gif') 0px 0px repeat-x;
	margin: 0px;
	padding-right:0px;
}

div.RadTabStrip_Fluke .rtsLevel1 .rtsTxt,
div.RadTabStripVertical_Fluke .rtsLevel1 .rtsTxt
{
	padding: 0 0px; 
}

.RadTabStrip_Fluke .rtsIn, .RadTabStripVertical_Fluke .rtsIn
{
	padding: 0px;
}
