
        .font1 {
        font-size: 7px;
        font-family: "HelveticaNeueLTStd";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font1 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font1 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font1 a:visited {
        color: #900060;
        }
      
        .font2 {
        font-size: 8px;
        font-family: "HelveticaNeueLTStd";
        color: #7C6362 ;
        opacity: 1 ;
        }
        .font2 a {
        text-decoration: none;
        color: #7C6362;
        }
        .font2 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font2 a:visited {
        color: #900060;
        }
      
        .font3 {
        font-size: 9.5px;
        font-family: "BotonPro";
        color: #000000 ;
        opacity: 1 ;
        }
        .font3 a {
        text-decoration: none;
        color: #000000;
        }
        .font3 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font3 a:visited {
        color: #900060;
        }
      
        .font4 {
        font-size: 8.5px;
        font-family: "BotonPro";
        color: #000000 ;
        opacity: 1 ;
        }
        .font4 a {
        text-decoration: none;
        color: #000000;
        }
        .font4 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font4 a:visited {
        color: #900060;
        }
      
        .font5 {
        font-size: 8.5px;
        font-family: "HelveticaNeueLTStd";
        color: #000000 ;
        opacity: 1 ;
        }
        .font5 a {
        text-decoration: none;
        color: #000000;
        }
        .font5 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font5 a:visited {
        color: #900060;
        }
      
        .font6 {
        font-size: 7px;
        font-family: "HelveticaNeueLTPro";
        color: #4B382C ;
        opacity: 1 ;
        }
        .font6 a {
        text-decoration: none;
        color: #4B382C;
        }
        .font6 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font6 a:visited {
        color: #900060;
        }
      
        .font7 {
        font-size: 8px;
        font-family: "HelveticaNeueLTStd";
        color: #000000 ;
        opacity: 1 ;
        }
        .font7 a {
        text-decoration: none;
        color: #000000;
        }
        .font7 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font7 a:visited {
        color: #900060;
        }
      
        .font8 {
        font-size: 8px;
        font-family: "HelveticaNeueLTStd";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font8 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font8 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font8 a:visited {
        color: #900060;
        }
      
        .font9 {
        font-size: 14px;
        font-family: "HelveticaNeueLTStd";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font9 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font9 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font9 a:visited {
        color: #900060;
        }
      
        .font10 {
        font-size: 14px;
        font-family: "BotonPro";
        color: #000000 ;
        opacity: 1 ;
        }
        .font10 a {
        text-decoration: none;
        color: #000000;
        }
        .font10 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font10 a:visited {
        color: #900060;
        }
      
        .font11 {
        font-size: 10px;
        font-family: "BotonPro";
        color: #000000 ;
        opacity: 1 ;
        }
        .font11 a {
        text-decoration: none;
        color: #000000;
        }
        .font11 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font11 a:visited {
        color: #900060;
        }
      
        .font12 {
        font-size: 10px;
        font-family: "HelveticaNeueLTStd";
        color: #000000 ;
        opacity: 1 ;
        }
        .font12 a {
        text-decoration: none;
        color: #000000;
        }
        .font12 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font12 a:visited {
        color: #900060;
        }
      
        .font13 {
        font-size: 36px;
        font-family: "BotonPro";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font13 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font13 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font13 a:visited {
        color: #900060;
        }
      
        .font14 {
        font-size: 9px;
        font-family: "HelveticaNeueLTPro";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font14 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font14 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font14 a:visited {
        color: #900060;
        }
      
        .font15 {
        font-size: 40px;
        font-family: "BotonPro";
        color: #000000 ;
        opacity: 1 ;
        }
        .font15 a {
        text-decoration: none;
        color: #000000;
        }
        .font15 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font15 a:visited {
        color: #900060;
        }
      
        .font16 {
        font-size: 11px;
        font-family: "HelveticaNeueLTStd";
        color: #483236 ;
        opacity: 1 ;
        }
        .font16 a {
        text-decoration: none;
        color: #483236;
        }
        .font16 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font16 a:visited {
        color: #900060;
        }
      
        .font17 {
        font-size: 9px;
        font-family: "HelveticaNeueLTStd";
        color: #483236 ;
        opacity: 1 ;
        }
        .font17 a {
        text-decoration: none;
        color: #483236;
        }
        .font17 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font17 a:visited {
        color: #900060;
        }
      
        .font18 {
        font-size: 9px;
        font-family: "HelveticaNeueLTStd";
        color: #000000 ;
        opacity: 1 ;
        }
        .font18 a {
        text-decoration: none;
        color: #000000;
        }
        .font18 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font18 a:visited {
        color: #900060;
        }
      
        .font19 {
        font-size: 8px;
        font-family: "BotonPro";
        color: #000000 ;
        opacity: 1 ;
        }
        .font19 a {
        text-decoration: none;
        color: #000000;
        }
        .font19 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font19 a:visited {
        color: #900060;
        }
      
        .font20 {
        font-size: 6px;
        font-family: "BotonPro";
        color: #000000 ;
        opacity: 1 ;
        }
        .font20 a {
        text-decoration: none;
        color: #000000;
        }
        .font20 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font20 a:visited {
        color: #900060;
        }
      
        .font21 {
        font-size: 16px;
        font-family: "HelveticaNeueLTStd";
        color: #FDC111 ;
        opacity: 1 ;
        }
        .font21 a {
        text-decoration: none;
        color: #FDC111;
        }
        .font21 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font21 a:visited {
        color: #900060;
        }
      
        .font22 {
        font-size: 11px;
        font-family: "BotonPro";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font22 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font22 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font22 a:visited {
        color: #900060;
        }
      
        .font23 {
        font-size: 18px;
        font-family: "HelveticaNeueLTStd";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font23 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font23 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font23 a:visited {
        color: #900060;
        }
      
        .font24 {
        font-size: 10.5px;
        font-family: "BotonPro";
        color: #000000 ;
        opacity: 1 ;
        }
        .font24 a {
        text-decoration: none;
        color: #000000;
        }
        .font24 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font24 a:visited {
        color: #900060;
        }
      
        .font25 {
        font-size: 5.0px;
        font-family: "BotonPro";
        color: #000000 ;
        opacity: 1 ;
        }
        .font25 a {
        text-decoration: none;
        color: #000000;
        }
        .font25 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font25 a:visited {
        color: #900060;
        }
      
        .font26 {
        font-size: 9px;
        font-family: "BotonPro";
        color: #000000 ;
        opacity: 1 ;
        }
        .font26 a {
        text-decoration: none;
        color: #000000;
        }
        .font26 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font26 a:visited {
        color: #900060;
        }
      
        .font27 {
        font-size: 8px;
        font-family: "HelveticaNeueLTPro";
        color: #000000 ;
        opacity: 1 ;
        }
        .font27 a {
        text-decoration: none;
        color: #000000;
        }
        .font27 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font27 a:visited {
        color: #900060;
        }
      
        .font28 {
        font-size: 7px;
        font-family: "BotonPro";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font28 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font28 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font28 a:visited {
        color: #900060;
        }
      
        .font29 {
        font-size: 9.6px;
        font-family: "HelveticaNeueLTStd";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font29 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font29 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font29 a:visited {
        color: #900060;
        }
      
        .font30 {
        font-size: 9.6px;
        font-family: "BotonPro";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font30 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font30 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font30 a:visited {
        color: #900060;
        }
      
        .font31 {
        font-size: 6px;
        font-family: "BotonPro";
        color: #FFFFFF ;
        opacity: 1 ;
        }
        .font31 a {
        text-decoration: none;
        color: #FFFFFF;
        }
        .font31 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font31 a:visited {
        color: #900060;
        }
      
        .font32 {
        font-size: 5.5px;
        font-family: "BotonPro";
        color: #000000 ;
        opacity: 1 ;
        }
        .font32 a {
        text-decoration: none;
        color: #000000;
        }
        .font32 a:hover {
        text-decoration: none;
        background-color: rgba(117,134,156,0.5);
        }
        .font32 a:visited {
        color: #900060;
        }
      