/**
 * Body styles
 */

body {
	font-family: 'botonregular', Helvetica, Arial, sans-serif;
	font-weight: normal;
	background: #000 url('../img/backgrounds/bkgnd.png') no-repeat top center;
	color: #000;
}

/**
 * ... Application styles here ...
 * ...
 */
.span12 {
	background: #fff;
}

h1#logo {
	margin: 15px 0 20px;
	padding: 0;
	width: 166px;
	height: 50px;
	text-indent: -9999px;
	background: #ffc20e url('../img/logo.gif') no-repeat;
}

h2 {
	margin: 20px 0 0;
	padding: 0;
	color: #fff;
	font-style: italic;
	font-size: 17px;
}

/**
 * Intro
 */
.container#intro .span12 {
	height: 427px;
	overflow: hidden;
	background: url('../img/backgrounds/intro-bkgnd.png') no-repeat top center;
}

.container#intro .span12 .container-inner {
	padding: 40px;
}

.container#intro .span12 .container-inner h3,
.container#intro .span12 .container-inner h4 {
	font-family: 'botonbold';
	font-size: 55px;
	line-height: 50px;
}

.container#intro .span12 .container-inner h4 {
	font-size: 32px;
}

.container#intro .span12 .container-inner p {
	width: 430px;
	font-size: 26px;
	line-height: 32px;
	font-weight: bold;
}

.container#intro .span12 .container-inner p em {
	font-size: 16px;
}

/**
 * Contact
 */
.container#contact .span12 {
	height: 159px;
	background: url('../img/backgrounds/contact-bkgnd.png') no-repeat top left;
}

.container#contact .container {
	padding: 7px 30px;
	/*width: 850px;*/
}

.container#contact .container h4 {
	margin: 0;
	padding: 0;
	font-family: 'botonbold', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.container#contact .span5,
.container#contact .span7 {
	position: relative;
}

.container#contact .span5 {
	width: 342px;
	height: 139px;
	background: url('../img/blocks/contact-left.png') no-repeat;
}

.container#contact .span7 {
	width: 517px;
	height: 139px;
	background: url('../img/blocks/contact-right.png') no-repeat;
}

.container#contact .span7 p {
	width: 350px;
}

.container#contact img {
	position: absolute;
	top: 11px;
	left: 11px;
}

.container#contact h4 {
	position: absolute;
	top: 15px;
	left: 140px;
}

.container#contact p {
	position: absolute;
	top: 40px;
	left: 142px;
}

.container#contact a.btn {
	position: absolute;
	top: 85px;
	left: 148px;
	height: 38px;
	padding: 7px 20px 0 0;
	background: url('../img/buttons/btn-right.png') top right;
	color: #fff;
	border: none;
	font-size: 18px;
	font-family: 'Lucida Sans', Arial, sans-serif;
}

.container#contact a.btn span {
	display: inline-block;
	background: url('../img/buttons/btn-left.png') top left;
	width: 16px;
	height: 45px;
	float: left;
	margin: -7px 0 0 -16px;
}

/**
 * Features
 */
.container#features .span12 {
	height: 424px;
	overflow: hidden;
	background: url('../img/backgrounds/features-bkgnd.png') no-repeat top center;
}

.container#features ul {
	margin: 30px 0 30px 60px;
	padding: 0;
	width: 480px;
	font-size: 26px;
}

.container#features ul li {
	line-height: 30px;
	margin-bottom: 20px;
}

/**
 * Footer
 */
.container#footer {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #ccc;
}

.container#footer a {
	color: #ccc;
}

.container#footer ul {
	margin: 0;
	padding: 0;
}

.container#footer ul li {
	display: inline-block;
}

.container#footer ul li a,
.container#footer .span3 p {
	display: block;
	padding: 5px;
}

/**
 * Misc classes
 */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}