/* adding fonts **************************************************************/
@font-face {
	font-family: 'botonroman';
	src: url('../fonts/boton-webfont.eot');
	src: url('../fonts/boton-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/boton-webfont.woff') format('woff'),
	     url('../fonts/boton-webfont.ttf') format('truetype'),
	     url('../fonts/boton-webfont.svg#botonroman') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'botonbold';
	src: url('../fonts/boton-bold-webfont.eot');
	src: url('../fonts/boton-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/boton-bold-webfont.woff') format('woff'),
	     url('../fonts/boton-bold-webfont.ttf') format('truetype'),
	     url('../fonts/boton-bold-webfont.svg#botonbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'boton_probold';
    src: url('../fonts/botonpro_bold-webfont.eot');
    src: url('../fonts/botonpro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/botonpro_bold-webfont.woff') format('woff'),
         url('../fonts/botonpro_bold-webfont.ttf') format('truetype'),
         url('../fonts/botonpro_bold-webfont.svg#boton_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'boton_promedium';
    src: url('../fonts/botonpro_medium-webfont.eot');
    src: url('../fonts/botonpro_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/botonpro_medium-webfont.woff') format('woff'),
         url('../fonts/botonpro_medium-webfont.ttf') format('truetype'),
         url('../fonts/botonpro_medium-webfont.svg#boton_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'boton_proregular';
    src: url('../fonts/botonpro_regular-webfont.eot');
    src: url('../fonts/botonpro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/botonpro_regular-webfont.woff') format('woff'),
         url('../fonts/botonpro_regular-webfont.ttf') format('truetype'),
         url('../fonts/botonpro_regular-webfont.svg#boton_pro_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* reset some browser styles only for cnx-landingpage */
table.cnx-landingpage h1, table.cnx-landingpage h2, table.cnx-landingpage h3, 
table.cnx-landingpage tr, table.cnx-landingpage td, table.cnx-landingpage th, 
table.cnx-landingpage p, table.cnx-landingpage a {
	margin:0;padding:0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	font: inherit;
	vertical-align: top;
	zoom:1;
}

table.cnx-landingpage {
	border-collapse	: collapse;
	border-space	: 0;
	width		: 970px;		
	background	: url(../images/fluke-cnx-bg2.jpg) no-repeat 0 0;
	text-align	: center;
	color		: #ffffff;
	font-family	: boton_proregular, Arial;
	font-size	: 15px;
	letter-spacing	: 1px;
	position:relative;
}

table.cnx-landingpage .lte-ie9 {
	display:none;
}

table.cnx-landingpage td {
	text-align	: center;
	position	: relative;
}

table.cnx-landingpage p {
	text-align:left;
}

table.cnx-landingpage a {
	text-decoration : none;
}


table.cnx-landingpage .introtext {
	text-align:center;
	padding: 0px 50px;
}

table.cnx-landingpage h1 {
	color		: #fdc400;
	font-size	: 43px;
	font-family	: boton_promedium, Arial;
	letter-spacing	: 1px;
	text-shadow	: 2px 3px 5px #222222;
	position	: relative;
}

table.cnx-landingpage h2 {
	color		: #ffffff;
	font-size	: 32px;
	font-family	: boton_promedium, Arial;
	letter-spacing	: 0px;
	text-shadow	: 1px 2px 5px #222222;
	position	: relative;
}

table.cnx-landingpage h3 {
	color		: #ffffff;
	font-size	: 17px;
	position	: relative;
}

table.cnx-landingpage sup {
	font-size:60%;
}

/** product info block styles ************************************************/
table.cnx-landingpage .product-info {
	position	: absolute;
	width  		: 158px;
	height 		: 70px;
	color  	 	: #000000;
	text-align	: center;
	margin		: 23px 0 0 0;
	font-size	: 15px;
}

table.cnx-landingpage .product-info .title {
	display:inline-block;	
	text-align: center;
	font-family:boton_promedium;
	font-size:19px;
	letter-spacing:-1px;
}
	
table.cnx-landingpage .product-info .descr {
	display		: inline-block;	
	letter-spacing	: -1px;
	margin		: 5px 0 0 0;
}
table.cnx-landingpage .products-row {
	height:500px;
}
table.cnx-landingpage #fluke-cnx-i3000 {
	top	: 187px;
	left	: 236px;
}
table.cnx-landingpage #fluke-cnx-3000 {
	top	: 187px;
	left	: 542px;
}
table.cnx-landingpage #fluke-cnx-pc3000 {
	top	: 187px;
	left	: 745px;
}
table.cnx-landingpage.de #fluke-cnx-i3000 {
	top:167px;
}
table.cnx-landingpage.de #fluke-cnx-3000,
table.cnx-landingpage.de #fluke-cnx-pc3000 {
	top:153px;
}
table.cnx-landingpage #fluke-cnx-a3000 {
	top	: 342px;
	left	: 161px;
}
table.cnx-landingpage #fluke-cnx-v3000 {
	top	: 342px;
	left	: 453px;
}
table.cnx-landingpage #fluke-cnx-t3000 {
	top	: 342px;
	left	: 744px;
}
table.cnx-landingpage.de #fluke-cnx-a3000,
table.cnx-landingpage.de #fluke-cnx-v3000,
table.cnx-landingpage.de #fluke-cnx-t3000 {
	top	: 322px;
}
table.cnx-landingpage.de .product-info .descr {
	margin:0 5px;
	font-size:12px;
	letter-spacing:0;
}
/** default Fluke css overwrites *********************************************/
table.cnx-landingpage a.button  {
	padding: 3px 20px 3px 0;
	line-height: 30px;
	width: 202px;
}

table.cnx-landingpage .floating-panel a.button {
	text-align:right;
	width: 160px;
}

table.cnx-landingpage .floating-panel {
	position:absolute;
	top: 122px;
	left: -154px;
}

table.cnx-landingpage .floating-panel tr {
	height:55px;
}

table.cnx-landingpage .floating-panel-fallback  {
	visibility: hidden;
}

/** nl specifics *************************************************************/
table.cnx-landingpage.de h1 {
font-size: 35px;
}

table.cnx-landingpage.nl h2 {
font-size: 26px;
}

table.cnx-landingpage.de h2 {
font-size: 24px;
}

table.cnx-landingpage.de h3 {
font-size: 16px;
}