/**
 * Menu FlukeWeb Skin
 */
/*----------------------------------------------------------------------------*/

.clHighlight
{
	background: url('img/fluke_nav_top_nav_bg_1px_x_44px_highlight.gif');
	background-repeat: repeat-x;
}


/** Global wrapper */
.RadMenu_FlukeWeb
{
	height: 44px;
	font: normal 14px/44px Arial,Lucida Sans, Lucida Sans Unicode, Lucida Grande,  sans-serif;
}

/** Menu Group */
.RadMenu_FlukeWeb .rmGroup
{
}

/** Menu Root Group */
.RadMenu_FlukeWeb .rmRootGroup
{
	height: 44px;
	background: #ffc20e url( "img/fluke_nav_top_nav_bg_1px_x_44px.gif" ) 0 0 repeat-x;
}

.RadMenu_FlukeWeb .rmRootGroup .rmLink
{
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.RadMenu_FlukeWeb .rmRootGroup .rmLink:hover,
.RadMenu_FlukeWeb .rmRootGroup .rmFocused, 
.RadMenu_FlukeWeb .rmRootGroup .rmExpanded
{
	color: #FFC20E;
	background: #000;
	background-color: #30363B;
	text-decoration: none;
	cursor: pointer;
}

.RadMenu_FlukeWeb .rmGroup ul
{
	margin: 19px;	
	margin-top: 0px;
}

.RadMenu_FlukeWeb .rmGroup .rmLink .rmText
{
	padding: 4px 0px 4px 19px;
}

.RadMenu_FlukeWeb .rmGroup .rmFirst .rmLink .rmText
{
	padding-top: 19px;
}

.RadMenu_FlukeWeb .rmGroup .rmLast .rmLink .rmText
{
	/*padding-bottom: 18px;*/
}

.RadMenu_FlukeWeb .rmMultiColumn .rmFirstGroupColumn .rmLink .rmText
{
	padding: 4px 0px 4px 19px;
}

.RadMenu_FlukeWeb .rmMultiColumn .rmLink .rmText
{
	padding: 4px 0px 4px 30px;
}

.RadMenu_FlukeWeb .rmMultiColumn .rmFirstGroupColumn .rmFirst .rmLink .rmText
{
	padding: 0px 0px 4px 19px;
}

.RadMenu_FlukeWeb .rmMultiColumn .rmFirst .rmLink .rmText
{
	padding: 0px 0px 4px 30px;
}

.RadMenu_FlukeWeb .rmMultiColumn .rmFirstGroupColumn .rmLast .rmLink .rmText
{
	padding: 4px 0px 0px 19px;
}

.RadMenu_FlukeWeb .rmMultiColumn .rmLast .rmLink .rmText
{
	padding: 4px 0px 0px 30px;
}

.RadMenu_FlukeWeb .rmText
{
	cursor: pointer;
}

.RadMenu_FlukeWeb .rmGroup .rmLink, 
.RadMenu_FlukeWeb .rmGroup .rmText
{	
	line-height: 15px;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
}

.RadMenu_FlukeWeb .rmGroup .rmLink
{
	font-weight: normal;
}

.RadMenu_FlukeWeb .rmGroup .rmLink:hover
{
	background-color: Transparent;
}

/** Menu Item */
.RadMenu_FlukeWeb .rmItem
{
}

/** Menu Link */
.RadMenu_FlukeWeb .rmLink
{
	text-decoration: none;
	cursor: pointer;
}

/** Menu Root Link */
.RadMenu_FlukeWeb .rmRootLink
{
	color: black;
	font-weight: bold;
}

.RadMenu_FlukeWeb .rmRootLink:hover
{
	color: #ffc20e;
	background-color: #30363b;
}

.RadMenu_FlukeWeb .rmFocused, 
.RadMenu_FlukeWeb .rmFocused:hover, 
.RadMenu_FlukeWeb .rmSelected, 
.RadMenu_FlukeWeb .rmSelected:hover
{
	color: #ffc20e;
	background-color: #30363b;
}

.RadMenu_FlukeWeb .rmDisabled, 
.RadMenu_FlukeWeb .rmDisabled:hover
{
}

/** Menu Sub Link */
.RadMenu_FlukeWeb .rmGroup .rmLink
{
	color: #ffffff;
}

.RadMenu_FlukeWeb .rmGroup .rmLink:hover, 
.RadMenu_FlukeWeb .rmGroup .rmLink:hover .rmText
{
	color: #ffc20e;
}

.RadMenu_FlukeWeb .rmGroup .rmFocused, 
.RadMenu_FlukeWeb .rmGroup .rmFocused:hover, 
.RadMenu_FlukeWeb .rmGroup .rmSelected, 
.RadMenu_FlukeWeb .rmGroup .rmSelected:hover, 
.RadMenu_FlukeWeb .rmGroup .rmExpanded, 
.RadMenu_FlukeWeb .rmGroup .rmExpanded:hover
{
}

.RadMenu_FlukeWeb .rmGroup .rmDisabled, 
.RadMenu_FlukeWeb .rmGroup .rmDisabled:hover
{
}

/** Menu Text */
.RadMenu_FlukeWeb .rmText
{
}

/** Menu Root Text */
.RadMenu_FlukeWeb .rmRootLink .rmText
{
	/*padding-bottom: 0 !important;*/
}

/** Sub Menu Text */
.RadMenu_FlukeWeb .rmGroup .rmLink .rmText
{
	margin: 0;
}

.RadMenu_FlukeWeb .rmGroup .rmLink, 
.RadMenu_FlukeWeb .rmGroup .rmText
{	
	/*padding: 0 0 0 0;*/
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

/** Menu separator */
.RadMenu_FlukeWeb .rmSeparator
{
	background: url( 'img/fluke_nav_top_nav_divider_2px_x_44px.gif' );
	height: 44px;
	width: 2px;
}

/** Hide */
.RadMenu_FlukeWeb .rmTopFix, .RadMenu_FlukeWeb .rmTopLeft, .RadMenu_FlukeWeb .rmTopRight, .RadMenu_FlukeWeb .rmBottomFix, .RadMenu_FlukeWeb .rmBottomLeft, .RadMenu_FlukeWeb .rmBottomRight
{
	display: none;
}

/** Global menu wrapper */

.RadMenu_FlukeWeb .rmMultiColumn
{
	background-color: #30363b;
	padding: 19px 0 19px 0;
}

#dvNavigation .RadMenu_FlukeWeb .rmMultiColumn
{		
	padding: 0 !important;
	padding-bottom: 19px;
}

.RadMenu_FlukeWeb .rmGroup
{	
	background-color: #30363b;
}

.RadMenu_FlukeWeb .rmLevel2
{
	background-color: #424C54 !important;
	border: 1px solid #868686 !important;
	margin-left: 10px !important;
}

.RadMenu_FlukeWeb .rmLevel2 .rmLink .rmText
{
	padding: 4px 0px 4px 19px !important;
}

.RadMenu_FlukeWeb .rmLevel2 .rmFirst .rmLink .rmText
{
	padding-top: 17px !important;
}

.RadMenu_FlukeWeb .rmLevel2 .rmLast .rmLink .rmText
{
	padding-bottom: 18px !important;
}


#dvNavigation .RadMenu_FlukeWeb .rmLevel2
{
	margin-top: 0 !important;	
}

.RadMenu_FlukeWeb .rmMultiColumn .rmLevel1
{
	background-color: #30363b !important;
}

.RadMenu_FlukeWeb .rmMultiColumn .rmVertical
{
	border-left: 1px solid #868686;
}

.RadMenu_FlukeWeb .rmMultiColumn .rmFirstGroupColumn .rmVertical
{		
	border-left: 0;	
}

#dvNavigation .RadMenu_FlukeWeb .rmMultiColumn .rmVertical
{
	margin-top: 19px;
}

.RadMenu_FlukeWeb .rmGroup .rmExpandLeft, 
.RadMenu_FlukeWeb .rmGroup .rmExpandRight
{
	background: transparent url(img/nav_dd_flyout_white_arrow_5px_x_7px.gif) right no-repeat;
}

.RadMenu_FlukeWeb .rmGroup .rmLink:hover .rmExpandLeft, 
.RadMenu_FlukeWeb .rmGroup .rmLink:hover .rmExpandRight, 
.RadMenu_FlukeWeb .rmGroup .rmFocused .rmExpandLeft, 
.RadMenu_FlukeWeb .rmGroup .rmFocused .rmExpandRight, 
.RadMenu_FlukeWeb .rmGroup .rmExpanded .rmExpandLeft, 
.RadMenu_FlukeWeb .rmGroup .rmExpanded .rmExpandRight
{
	background: transparent url(img/nav_dd_flyout_black_arrow_5px_x_7px.png) right no-repeat;
}

.RadMenu_FlukeWeb .rmSlide .rmGroup
{
	padding: 0 19px 0 0;
}

.RadMenu_FlukeWeb a.MenuItemCenter
{        
	width: 100%;   
    text-align: center;
    padding: 0;
    
}
 
.RadMenu_FlukeWeb .rmRootGroup a.MenuItemCenter .rmText 
{
	width: 100%;
    padding: 0 !important;
}
