/**
 *
 */

 .ddm-block-2 {
 	height: auto;
 }

.block-4 a {
	margin-top: 15px;
	margin-right: 15px;
	height: 50px;
	width: 258px;
}

.block-4 .wrapper p {
	margin-bottom: 100px;
}

.ddm-block-5 a {
	font-size: 14px;
}