.block-1 .slider {
	width: 650px;
}

.block-1 p {
	width: 400px;
}

.ddm-block-2 {
	height: auto;
}

.block-4 a {
	margin-top: 15px;
	margin-right: 15px;
	height: 50px;
	width: 258px;
}

.block-4 .wrapper p {
	margin-bottom: 100px;
}

.ddm-block-5 a {
	font-size: 15px;
	font-size: 15px;
	margin-top: 15px;
	margin-right: 15px;
	height: 50px;
	width: 258px;
}

.ddm-block-5 .wrapper p {
	margin-bottom: 100px;
}
