body {
    background-color: #000;
    padding-top: 0px;
    font-family: 'Roboto Slab', serif;
}

.grey-bg {
    background-color: #e6e6e6;
}

.white-bg {
    background-color: #ffffff;
	color: #ffffff;
}

.callout {
    background-color: #ffc20e;
    color: #000;
    font-weight: bold;
    font-size: 58px;
    margin-bottom: 0px;
}

.clear-padding-left {
    padding-left: 0px;
}

.clear-margin-lr {
    margin-left: 0px;
    margin-right: 0px;
}

.no-gutter {
    padding-left: 0px;
    padding-right: 0px;
}

a {
    transition: 0.5s;
}

a:hover {
    transition: 0.5s;
}

.inactive-font {color: #77787b}


/* How to Redeem directions section */

#how-to-redeem h2 {
    font-size: 24px;
}

#how-to-redeem p {
    padding-top: 30px;
    font-size: 14px;
    font-weight: bold;
}

#how-to-redeem .step {
    font-size: 36px;
    padding-top: 20px;
}

#how-to-redeem ul {
    padding-left: 20px;
}

#how-to-redeem li {
    font-size: 16px;
    font-weight: bold;
}


/* Redeem button section */

.rdm-btn {
    margin: 10px 0px;
}

.rdm-btn .btn {
    width: 100%;
    height: 120px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    font-size: 14px;
    padding: 4px 16px;
}

.rdm-btn .btn img {
    margin-right: 5px;
    display: block;
    margin: 0 auto;
}

.rdm-btn .btn span {
    display: block;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
}

.rdm-btn .btn span:nth-child(odd) {
    font-size: 14px;
}

.grey-btn {
    background-color: #b3b3b3;
    border: 2px solid #d3d3d3;
}

.inner-wrap {
    padding-left: 30px;
    padding-right: 30px;
}

.inner-wrap-rdm {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}


/* Tab Section */

.glyphicon-triangle-right,
.glyphicon-triangle-bottom {
    color: #ffffff;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #58595b;
	color: #fff;
    border-left: none;
}

.nav>li>a:hover,
.nav>li>a:focus {
    color: #000;
}

.nav-tabs>li>a {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #929497;
    border-color: #e6e6e6
}

.nav-tabs>li>a:first-child {
    border-left: none;
}

.nav-tabs>li>a>span {
    display: block;
    font-size: 11px;
}

.nav-tabs>li>a>span:first-child {
    font-size: 22px;
}

.panel-default>.panel-heading {
    color: #ffffff;
    background-color: #58595b;
}

.panel-body div.col-lg-3.col-xs-6 {
    height: 350px;
}

.tab-content p {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}

.tab-content img,
.js-tabcollapse-panel-body img {
    max-width: 100%;
}

.tab-content>.tab-pane {
    padding-top: 15px;
    padding-bottom: 15px;
}


/* FCA Section */

#fca {
    background-color: #000000;
    padding: 9.5px 60px 0px 80px;
    margin-top: 20px;
}

#fca img {
    margin-right: 10px;
}

#fca p {
    font-size: 22px;
    color: #ffffff;
}

#fca a {
    color: #ffc20e;
}


/* Additional resource section */

#adt-resource {
    padding-top: 15px;
}

#adt-resource p:first-child {
    font-size: 16px;
    font-weight: bold;
}

#adt-resource p:last-child {
    font-size: 9px;
}

#adt-resource p:first-child a {
    margin-left: 100px;
}


/* Footer Section */

#footer {
    background-color: #ffc20e;
    padding: 8px 15px 0px;
}

#footer ul {
    padding-left: 0px;
}

#footer ul li {
    display: inline-block;
    list-style-type: none;
}

#footer ul li:first-child {
    margin-right: 30%;
}

#footer a {
    color: #000000;
}


/*/////////////////////////////////////////////     Meadia Queries    /////////////////////////////////////////////////////////*/


/* Callout Section */

@media (max-width: 990px) {
    .callout {
        font-size: 54px;
    }
}

@media (max-width: 980px) {
    .callout {
        font-size: 50px;
    }
}

@media (max-width: 845px) {
    .callout {
        font-size: 46px;
    }
}

@media (max-width: 780px) {
    .callout {
        font-size: 40px;
    }
}

@media (max-width: 675px) {
    .callout {
        font-size: 36px;
    }
}

@media (max-width: 610px) {
    .callout {
        font-size: 30px;
    }
}

@media (max-width: 505px) {
    .callout {
        font-size: 24px;
    }
}

@media (max-width: 410px) {
    .callout {
        font-size: 20px;
    }
}

@media (max-width: 340px) {
    .callout {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 796px) {
    .nav-tabs>li>a>span {
        font-size: 10px;
    }
    .nav-tabs>li>a>span:first-child {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified>.active>a,
    .nav-tabs.nav-justified>.active>a:hover,
    .nav-tabs.nav-justified>.active>a:focus {
        border-bottom-color: #ffffff;
    }
    .nav-tabs.nav-justified>li>a {
        border-bottom: none;
        border-radius: 0 0 0 0;
    }
}


/* Redeem Section */

@media (max-width: 955px) {
    .rdm-btn .btn span {
        font-size: 18px;
    }
    .rdm-btn .btn span:nth-child(odd) {
        font-size: 12px;
    }
}

@media (max-width: 870px) {
    .rdm-btn .btn span:nth-child(odd) {
        font-size: 12px;
    }
}

@media (max-width: 795px) {
    .rdm-btn .btn span {
        font-size: 16px;
    }
    .rdm-btn .btn span:nth-child(odd) {
        font-size: 8px;
    }
}

@media (max-width: 765px) {
    .rdm-btn .btn span {
        display: block;
        font-size: 24px;
    }
    .rdm-btn .btn span:nth-child(odd) {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .rdm-btn .btn span {
        display: block;
        font-size: 22px;
    }
    .rdm-btn .btn span:nth-child(odd) {
        font-size: 12px;
    }
}


/* Footer  */

@media (max-width: 925px) {
    #footer ul li:first-child {
        margin-right: 8%;
    }
}

@media (max-width: 725px) {
    #footer ul li {
        display: block;
        list-style-type: none;
        text-align: center;
    }
    #footer ul li:first-child {
        margin-right: 0%;
    }
}

@media (max-width: 525px) {
    .panel-body div.col-lg-3.col-xs-6 {
        height: 220px;
    }
}

@media (max-width: 460px) {
    .panel-body p {
        font-size: 12px;
    }
}

@media (max-width: 415px) {
    .panel-body p {
        font-size: 10px;
    }
}

@media (max-width: 340px) {
    .panel-title {
        font-size: 12px;
    }
}