.block-1 .slider {
	width: 750px;
}

.block-1 h3,
.block-1 h1,
.block-1 li {
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial;
	font-weight: bold;
}

.ddm-block-1 h1 {
	font-size: 40px;
}

.block-1 p {
	width: 400px;
}

.ddm-block-2 {
	height: auto;
}

.block-2 h3 {
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial;
	font-weight: bold;
}

.block-2 ul li a {
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial;
	font-weight: bold;
}

.block-3 h3 {
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial;
	font-weight: bold;
}

.ddm-block-3 h4 {
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial;
	font-weight: bold;
}

.block-4 a {
	margin-top: 15px;
	margin-right: 15px;
	height: 50px;
	width: 258px;
}

.block-4 .wrapper p {
	margin-bottom: 100px;
}

.ddm-block-5 a {
	font-size: 15px;
}

.block-5 h3 {
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial;
	font-weight: bold;
}

.ddm-block-7 h2 {
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial;
	font-weight: bold;
}
